{% extends "base.html" %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form action = "" method = "POST">
{{ form.hidden_tag() }}

<p>

{{ form.name.label }}
{{ form.name(size = 60)}}

</p>

<br>

<p>

    {{ form.description.label }}
    {{ form.description(size = 50)}}
    
</p>

<br>

<p>

    {{ form.date.label }}
    {{ form.date(size = 60)}}
    
</p>

<br>

<p>

    {{ form.time.label }}
    {{ form.time(size = 60)}}
    {{form.submit(size = 60)}}

</p>

</form>

<a href = "{{ url_for('home') }}"> Dashboard </a>

{% endblock %}