{% extends "base.html" %}
{% block content %}
<title>Add Event</title>

<br>
<br>
<br>

<h1>Add Event</h1>


<form action = "" method = "POST">
{{ form.hidden_tag() }}

<p>

{{ form.name.label }}
{{ form.name(size = 60)}}

</p>

<br>

<p>

    {{ form.description.label }}
    {{ form.description(size = 50)}}
    
</p>

<br>

<p>

    {{ form.date.label }}
    {{ form.date(size = 60)}}
    
</p>

<br>

<p>

    {{ form.time.label }}
    {{ form.time(size = 60)}}
    {{form.submit(size = 60)}}

</p>

</form>

{% endblock %}